header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.nav-link {
  padding: 0.2rem 0.7rem;
  border: 2px solid var(--black);
  background-color: var(--light-grey);
  font-size: 1.2rem;
  color: var(--black);
  transition: background-color ease-in-out 0.4s;
}

.nav-link:hover {
  color: var(--black);
  background-color: var(--light-blue);
}

.nav-link.active {
  color: var(--black);
  border: 2px solid var(--grey);
  background-color: transparent;
  cursor: default;
}
